
.envrc
.mixin.out
**/*.log
crash-reports/
datapacks/
defaultconfigs/
journeymap/
kubejs/
libraries/
local/
logs/
mods/*.jar
# Do not ignore specific files in mods folder
!mods/SimpleBackups*.jar
!mods/dcintegration-*.jar
!mods/minimotd*.jar
neoforge-*-installer.jar
packmenu/
patchouli_books/
run.*
server-icon.png
ServerFiles-*.zip
start.sh
startserver.*
usercache.json
usernamecache.json
versions/
world/
