.envrc
.mixin.out
**/*.log
config/spark/activity.json
config/spark/profile-*.sparkprofile
config/spark/tmp-client/
crash-reports/
datapacks/
defaultconfigs/
dynamic-data-pack-cache/
journeymap/
kubejs/
libraries/
local/
logs/
mods/*.jar
# Do not ignore specific files in mods folder
!mods/SimpleBackups*.jar
!mods/architectury*.jar
!mods/dcintegration-*.jar
!mods/minimotd*.jar
!mods/observable*.jar
neoforge-*-installer.jar
packmenu/
patchouli_books/
run.*
server-icon.png
ServerFiles-*.zip
startserver.*
usercache.json
usernamecache.json
versions/
world/
