[Unit]
Description=atm10.riipeckx.io Minecraft server
After=network.target

[Service]
User=root
Nice=1
KillMode=mixed
SuccessExitStatus=0 1
WorkingDirectory=/opt/atm10-riipeckx-io
ExecStart=/usr/bin/bash start.sh
ExecStop=/usr/bin/bash stop.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target