[Unit]
Description=atm10.riipeckx.io Minecraft server
After=network.target

[Service]
User=root
Nice=1
KillMode=mixed
SuccessExitStatus=0 1
WorkingDirectory=/opt/atm10-riipeckx-io
ExecStart=/usr/bin/java @user_jvm_args.txt @libraries/net/neoforged/neoforge/21.1.172/unix_args.txt nogui "$@"
ExecStop=/usr/bin/mcrcon -H 127.0.0.1 -P 25575 -p localhost stop

[Install]
WantedBy=multi-user.target